@font-face {
    font-family: udaan;
    src: url('../fonts/TT0406M_0.TTF')format('truetype');
}
.u-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family:udaan;
}

.u-container > input,
.u-container > a {
	position: fixed;
	bottom: 0px;
	width: 10%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.u-container > input {
	opacity: 0;
	z-index: 1000;
}

.u-container > a {
	z-index: 10;
	font-weight: 700;
	background: #1b2735;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.u-container:before {
	content: '';
	position: fixed;
	width: 150%;
	height: 44px;
	background: #1b2735;
	z-index: 9;
	bottom: 0;
}

#u-control-1, #u-control-1 + a {
	left: 0;
}

#u-control-2, #u-control-2 + a {
	left: 10%;
}

#u-control-3, #u-control-3 + a {
	left: 20%;
}

#u-control-4, #u-control-4 + a {
	left: 30%;
}

#u-control-5, #u-control-5 + a {
	left: 40%;
}
#u-control-6, #u-control-6 + a {
	left: 50%;
}
#u-control-7, #u-control-7 + a {
	left: 60%;
}
#u-control-8, #u-control-8 + a {
	left: 70%;
}
#u-control-9, #u-control-9 + a {
	left: 80%;
}
#u-control-10, #u-control-10 + a {
	left: 90%;
}
#u-control-11, #u-control-11 + a {
	left: 100%;
}
.u-container > input:checked + a,
.u-container > input:checked:hover + a{
	background: #0f7daf;
}

.u-container > input:checked + a:after,
.u-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #821134;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.u-container > input:hover + a{
}

.u-container > input:hover + a:after {
	border-bottom-color: #AD244F;
}

.u-scroll,
.u-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.u-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.u-panel{
	background: #fff;
	overflow: hidden;
} 

#u-control-1:checked ~ .u-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#u-control-2:checked ~ .u-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#u-control-3:checked ~ .u-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#u-control-4:checked ~ .u-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#u-control-5:checked ~ .u-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}
#u-control-6:checked ~ .u-scroll {
	-webkit-transform: translateY(-500%);
	-moz-transform: translateY(-500%);
	-o-transform: translateY(-500%);
	-ms-transform: translateY(-500%);
	transform: translateY(-500%);
}
#u-control-7:checked ~ .u-scroll {
	-webkit-transform: translateY(-600%);
	-moz-transform: translateY(-600%);
	-o-transform: translateY(-600%);
	-ms-transform: translateY(-600%);
	transform: translateY(-600%);
}
#u-control-8:checked ~ .u-scroll {
	-webkit-transform: translateY(-700%);
	-moz-transform: translateY(-700%);
	-o-transform: translateY(-700%);
	-ms-transform: translateY(-700%);
	transform: translateY(-700%);
}
#u-control-9:checked ~ .u-scroll {
	-webkit-transform: translateY(-800%);
	-moz-transform: translateY(-800%);
	-o-transform: translateY(-800%);
	-ms-transform: translateY(-800%);
	transform: translateY(-800%);
}
#u-control-10:checked ~ .u-scroll {
	-webkit-transform: translateY(-900%);
	-moz-transform: translateY(-900%);
	-o-transform: translateY(-900%);
	-ms-transform: translateY(-900%);
	transform: translateY(-900%);
}




/* Content elements */


.u-panel h2 {
	font-family:udaan;
	color: #e23a6e;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#u-control-1:checked ~ .st-scroll #u-panel-1 h2,
#u-control-2:checked ~ .st-scroll #u-panel-2 h2,
#u-control-3:checked ~ .st-scroll #u-panel-3 h2,
#u-control-4:checked ~ .st-scroll #u-panel-4 h2,
#u-control-5:checked ~ .st-scroll #u-panel-5 h2
#u-control-6:checked ~ .st-scroll #u-panel-6 h2
#u-control-7:checked ~ .st-scroll #u-panel-7 h2
#u-control-8:checked ~ .st-scroll #u-panel-8 h2
#u-control-9:checked ~ .st-scroll #u-panel-9 h2
#u-control-10:checked ~ .st-scroll #u-panel-10 h2
#u-control-11`:checked ~ .u-scroll #u-panel-11 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {

}
#u-control-1:checked ~ .u-scroll #u-panel-1 p,
#u-control-2:checked ~ .u-scroll #u-panel-2 p,
#u-control-3:checked ~ .u-scroll #u-panel-3 p,
#u-control-4:checked ~ .u-scroll #u-panel-4 p,
#u-control-5:checked ~ .u-scroll #st-panel-5 p
#u-control-6:checked ~ .u-scroll #st-panel-6 p
#u-control-7:checked ~ .u-scroll #st-panel-7 p
#u-control-8:checked ~ .u-scroll #st-panel-8 p
#u-control-9:checked ~ .u-scroll #st-panel-9 p
#u-control-10:checked ~ .u-scroll #st-panel-10 p
#u-control-11`:checked ~ .u-scroll #u-panel-11 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/* Colored sections */

.u-color,
.u-deco{
	background: #fff;
}
.u-color [data-icon]:after {
	color: #fa96b5;
}
.u-color .u-deco {
	background: #fff;
}
.u-color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 
.u-color p {
	color: #fff;
	color: rgba(255,255,255,0.8);
}
		.modalDialog {
			position: absolute;
			font-family: Udaan, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background:#1b2735 ;
			z-index: 99999;
			opacity:0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
			font-size:12px;
			color:#EE5623;
		}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 900px;
	height:600px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #1b2735;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div iframe{
width:860 ;
height:520;

}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.u-panel >div img
	{
		height:100px;
	}
.u-panel h3 a:hover
{
	background:white;
}	
@media screen and (max-width: 320px)
{
.u-container > input,
.u-container > a {
	position: fixed;
	bottom: 0px;
	width: 5%;
	cursor: pointer;
	font-size: 8px;
	height: 24px;
	line-height: 34px;
}

		.modalDialog {
			position: absolute;
			font-family: Udaan, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background:#1b2735 ;
			z-index: 99999;
			opacity:0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
			font-size:12px;
			color:#EE5623;
		}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 300px;
	height:400px;
	position: relative;
	margin: 1% auto;
	border-radius: 10px;
	background: #1b2735;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	font-size:8px;
	}


.modalDialog > div iframe{
width:100 ;
height:300;
margin-left:-80px;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.u-panel >div img
	{
		height:100px;
	}
}

@media screen and (max-height: 600px)
{
.u-container > input,
.u-container > a {
	position: fixed;
	bottom: 0px;
	width: 10%;
	cursor: pointer;
	font-size: 8px;
	height: 24px;
	line-height: 34px;
}
		.modalDialog {
			position: absolute;
			font-family: Udaan, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background:#1b2735 ;
			z-index: 99999;
			opacity:0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
			font-size:12px;
			color:#EE5623;
		}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 200px;
	height:500px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #1b2735;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div iframe{
width:200 ;
height:200;

}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.u-panel >div img
	{
		height:100px;
	}
}
