<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>
<head>
	<title>Event Registration</title>

</head>

<body>
	<form action="../../api/registration/events" method="POST">
		Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<input type="text" name="name" size="25"><br><br>
		Department:
		<input type="text" name="department" size="25"><br><br>
		Type: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<select name="type">
		<option value="tech">Tech</option>
		<option value="non-tech">Non-Tech</option>
		</select><br><br>	
		Description:
		<textarea name="description" rows="10" cols="25">
			
		</textarea><br><br>
		Prize: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<input type="text" name="prize"><br><br>
		Manager: &nbsp; &nbsp;
		<input type="text" name="manager"><br><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>